body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    position: fixed; 
    top: 0; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 100%; 
    max-width: 800px; 
    background-color: #6A0DAD; 
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    justify-content: center;
    text-align: center;
    color: white;
}

.header h1 {
    margin: 0;
    font-size: 24px;    
}

.container-register {
    width: 30px;
    height: 15px;
    padding: 70%;
    background-color: #e6e6fa;
    margin: 20px auto;
    border-radius: 8px;
}