body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    position: fixed; 
    top: 0; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 100%; 
    max-width: 760px; 
    background-color: #6A0DAD; 
    padding: 10px 20px;
    z-index: 1000;
    justify-content: center;
    text-align: center;
    color: white;
    border-radius: 8px;
}

.header h1 {
    margin: 0;
    font-size: 24px;    
}

.add-user {
    background-color: #e6e6fa;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.add-user h2{
    font-size: 18px;
    margin-bottom: 10px;
    color: #6A0DAD;    
}

.add-user-form {
    display: flex;
    gap: 20px;
}

.add-user-form input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.user-card {
    background-color: #e6e6fa;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;        
}

.user-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}    

.user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-name {
    font-size: 16px;    
}

.user-actions {
    display: flex;    
    gap: 5px;    
}
  
.task-list {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}
  
.task-item {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}
  
.task-item label {
    flex: 1;
}

/* Botões */
.btn {
    padding: 5px 12px;
    border: #6A0DAD;
    border-radius: 4px;
    cursor: pointer;
}

.btn-add {
    background-color: #6A0DAD;
    color: white;
    border: 1px solid transparent;
}

.btn-add:hover {
    background-color: #e6e6fa;
    color: #6A0DAD;
    border-color: #6A0DAD;
}

.btn-edit {
    background-color: #6A0DAD;
    color: #ccc;    
    border: 1px solid transparent;
}

.btn-edit:hover {
    background-color: #e6e6fa;
    color: #6A0DAD;
    border-color: #6A0DAD;
}

.btn-delete {
    background-color: #6A0DAD;
    color: #ccc;
    border: 1px solid transparent;
}

.btn-delete:hover {
    background-color: #e6e6fa;
    color: #6A0DAD;
    border-color: #6A0DAD;
}

.user-actions {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.task-form {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
  
.task-form input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}